<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keevault.flutter_autofill_service">

    <application>
        <activity
            android:name=".DummyTestActivity"
            android:label="@string/title_activity_dummy_test"
            android:taskAffinity=".DummyTestActivity">
        </activity>

        <service
            android:name=".FlutterAutofillService"
            android:label="Flutter Autofill Service"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>

            <meta-data
                android:name="android.autofill"
                android:resource="@xml/service_configuration" />
        </service>
    </application>

</manifest>